Basic Syntax Rules In Python

In [3]:
# Case sensitivity in Python 

name = "Aryan"
Name = "Rajyaguru"

print(name)
print(Name)

Aryan
Rajyaguru

In [4]:
# Indentation in Python

age = 20

if age >= 18:
    print("You are an adult.")
else :
    print("You are a minor.")

You are an adult.

In [5]:
# Single Line comment
print("Hello World!")

Hello World!

In [6]:
# Line Continuation in Python

# Use a backslash(\) to continue a line

Total = 1+2+3+4+5+6+7+8+9+10 + \
        11+12+13+14+15+16+17+18+19
print(Total)

190

In [7]:
#  Multiple Statements on a single line

x=5;y=10;z=x+y 
print(z)

15

Understand Semnatics in python

In [8]:
# Variable assignment in Python
age = 20 
# Type Inference
print(type(age))

<class 'int'>

In [9]:
# Code Example of Indentation
if True :
    print("Correct Indentation")
    if False :
        print("Incorrect Indentation") 
    print("This will Print")
print("End of the Program")

Correct Indentation
This will Print
End of the Program

Variable In Python

In [10]:
age = 20
height = 5.9
name = "Aryan"
is_student = True

print(type (age))       # <class 'int'>

<class 'int'>

In [11]:
# Type Checking and conversion
type(height)

float

In [12]:
# Type Conversion 

age_str = str(age)  # Convert int to str
print(age_str)  # Output: '20'
type(age_str)  # <class 'str'>

20

str

In [15]:
age = '25'
int(age)
print(age)  # Output: 25
print(type(int(age)))  # <class 'int'>

25
<class 'int'>

In [16]:
height = 5.9
height_int = int(height)  # Convert float to str
print(height_int)
type(height_int)  # <class 'int'>

5

int

In [18]:
# Dyanamic Typing in Python
var=10
print(var, type(var))  # Output: 10 <class 'int'>

var="Hello"
print(var, type(var))

var=3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [21]:
# input in python

age =int(input("Enter your age: "))
print(age, type(age))

20 <class 'int'>

In [22]:
# Simple Calculator
num1 = float(input("Enter First nUmber:"))
num2 = float(input("Enter Second Number:"))

sum = num1 + num2
diff = num1 - num2
mul = num1 * num2
div = num1 / num2

print("Sum:", sum)
print("Difference:", diff)
print("Multiplication:", mul)
print("Division:", div)

Sum: 65.0
Difference: 25.0
Multiplication: 900.0
Division: 2.25

Basic Data types in Python

In [31]:
# Data Type in Python

age = 20
print(age,type(age)) # <class 'int'>

height = 5.9
print(height,type(height)) # <class 'float'>

name = "Aryan"
print(name,type(name)) # <class 'str'>

is_student = True # Boolean Data Type
print(is_student,type(is_student))

20 <class 'int'>
5.9 <class 'float'>
Aryan <class 'str'>
True <class 'bool'>

Operators In Python

In [39]:
# Arithmetic Operations in Python

a = 10
b = 5 

print(a+b) # Addition
print(a-b) # Subtraction
print(a*b) # Multiplication
print(a/b) # Division

print("extra Operations")

print(a//b) # Floor Division
print(a%b) # Modulus
print(a**b) # Exponentiation

15
5
50
2.0
extra Operations
2
0
100000

In [41]:
# Comparison Operators in Python
# == Equal to
# != Not equal to

a =10 
b =10 
a==b

str1 ="Aryan"
str2 ="ARYAN"
str1 != str2

True

In [42]:
# Greater than
a = 10
b = 5   
a>b

True

In [43]:
# less than
a = 10
b = 5
a<b

False

In [44]:
# greater than or equal to
a = 10
b = 10 
a >= b

True

In [46]:
# less than or equal to
a = 80
b = 50 
a <= b

False

In [ ]:
# Logical Operators in Python
# AND
X = True
Y = False

result =  X and Y
print(result)

False

In [49]:
# OR
X = True
Y = False

result = X or Y
print(result)

True

In [50]:
# NOT 
X = True
result = not X
print(result)

False