## Control Flow #

### Conditional Statement #

In [1]:
from doctest import Example

# if Statement

age = 20

if age >= 18:
    print("You are an adult.")
else :
    print("You are a minor.")

You are an adult.

In [1]:
# elif Statement

age = 20

if age < 13:
    print("you are a child")
elif age < 18:
    print("you are a teenager")
elif age < 35:
    print("you are a young adult")
elif age < 50:
    print("you are a middle-aged adult")
elif age < 65:
    print("you are a senior adult")
else: 
    print("you are a senior citizen")

you are a young adult

In [6]:
# Nested Conditional Statement
# Question is Number even or odd or negative

num = float(input("Enter a number:"))

if num >0: 
    print(f"{num} is a positive ")
    if num%2==0:
        print(f"{num} is an even number")
    else :
        print(f"{num} is an odd number")
elif num == 0:
    print("This number is Zero")        
else:
    print(f"{num} is a negative number")

This number is Zero

In [19]:
# Practice Question 

# Determine if a year is a leap year or not

year = int(input("Enter a year:"))

if year %4 == 0:
    if year %100 ==0:
        if year %400 == 0:
            print(year,"is a leap year")
        else: 
            print(f"{year} is not a leap year")
    else:
        print(year,"is a leap year")
else: 
    print(f"{year} is not a leap year")

2028 is a leap year

In [20]:
# Simple Calculator 

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

if operation == '+':
    result = num1 + num2
    print(f"The result of {num1} + {num2} is {result}")
elif operation == '-':
    result = num1 - num2
    print(f"The result of {num1} - {num2} is {result}")
elif operation == '*':
    result = num1 * num2
    print(f"The result of {num1} * {num2} is {result}")
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
        print(f"The result of {num1} / {num2} is {result}")
    else:
        print("Error: Division by zero is not allowed.")
else:
    print("Error: Invalid operation. Please enter one of +, -, *, /.")

The result of 20.0 + 23.0 is 43.0

In [22]:
# Determine the ticket price based on age and whether the person is a student.
# Ticket Pricing based on age and stuedent status

age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").strip().lower()

# determine ticket price
if age<5 :
    price = "Free"
elif age < 12:
    prince = "$5"
elif age < 17:
    if is_student == "yes":
        price = "$7"
    else:
        price = "$10"
elif age < 60:
    if is_student == "yes":
        price = "$12"
    else:
        price = "$15"
else:
    price = "$25"
    
print(f"The ticket price is: {price}")

The ticket price is: $10

### Loop Statement #

In [24]:
# for Loop statement

for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
for i in range (0,10,2):
    print(i)

0
2
4
6
8

In [30]:
for i in range (20,10,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11

In [31]:
str = "Rajyaguru Aryan"

for i in str:
    print(i)

R
a
j
y
a
g
u
r
u

A
r
y
a
n

In [35]:
# While Loop Statement

count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

#### Loop Control Statement #

In [1]:
#  Break

for i in range(10):
    if i==5 :
        break
    print (i)

0
1
2
3
4

In [1]:
# Continue

for i in range(10):
    if i%2==0:
        continue
    print (i)

1
3
5
7
9

In [3]:
# Pass

for i in range(5):
    if i==3 :
        print("the number is ", i)
        pass
    print(i)

0
1
2
the number is  3
3
4

#### Nested Loops #

In [5]:
for i in range(3):
    for j in range(1):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:1 and j:0
i:2 and j:0

In [6]:
# Example calculate the sum of first N natural numbers using a while and for loop
# while loop

n = 10
sum = 0
count = 1

while count <=n:
    sum = sum + count
    count +=1

print("sum of first number:", sum)

sum of first number: 55

In [8]:
# using for loop

n = 10
sum = 0

for i in range(11):
    sum = sum + i

print(sum)

55

In [15]:
# Example : Prime Number Between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2, num):
            if num %i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97