# Introduction to Functions #

A Function is a block of code that performs a specific task.

Functions help in organizing code, reusing code and improving readability.

In [1]:
# syntax
def function_name():
    """
    Docstring
    """
    # Function Body
    return expression

In [2]:
# why Functions?

num = 24
if num%2 == 0:
    print ("the number is even ")
else :
    print ("the number is odd ")

the number is even

In [4]:
def even_or_odd(num):
    """This function checks number is even or odd"""
    if num%2==0:
        return "the number is even"
    else:
        return "the number is odd"

'the number is even'

In [9]:
# call the function
number = float(input("Enter a number:"))
even_or_odd(number)

'the number is odd'

## Function with parameters #

In [12]:
def add(a,b):
    return a+b
a = float(input("Enter first number:"))
b = float(input("Enter second number:"))
print ("The sum is:", add(a,b))

The sum is: 40.0

In [17]:
# Default Parameters

def greet(name):
    print(f"Hello, {name}! Welcome to the Python world!")
name = input("Enter your name (default is 'Guest'): ") or "Guest"
greet(name)

Hello, Aryan! Welcome to the Python world!

In [20]:
def greet(name = "Guest"):
    print(f"Hello, {name}! Welcome to the Python world!")
name = input("Enter your name: ")
greet()

Hello, Guest! Welcome to the Python world!

In [21]:
# Variable Length Arguments
# Positional Arguments

def print_number(*aryan):
    for numbers in aryan:
        print(numbers)
print_number(1, 2, 3, 4, 5,"Aryan")

1
2
3
4
5
Aryan

In [22]:
# Positional Arguments

def print_number(*args):
    for numbers in args:
        print(numbers)
print_number(1, 2, 3, 4, 5,"Aryan")

1
2
3
4
5
Aryan

In [24]:
# Keyword Arguments

def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
print_details(name="Aryan", age=20, city="Gujarat")

name: Aryan
age: 20
city: Gujarat

In [33]:
def print_details(*args, **kwargs):
    # This loop handles positional arguments
    for val in args:
        print(f"Positional argument: {val}")

    # This loop handles keyword arguments
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [34]:
print_details(1, 2, 3, 4, 5,"Aryan",name="Aryan", age=20, city="Gujarat")

Positional argument: 1
Positional argument: 2
Positional argument: 3
Positional argument: 4
Positional argument: 5
Positional argument: Aryan
name: Aryan
age: 20
city: Gujarat

In [35]:
# Return Statement
def multiply(a, b):
    """This function returns the product of two numbers."""
    return a * b
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

multiply(a,b)

20.0

In [36]:
# Return multiple Statement
def multiply(a, b):
    """This function returns the product of two numbers."""
    return a * b, a
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

multiply(a,b)

(20.0, 4.0)

## Functions Example #

In [2]:
# Example 1: Temperature Conversion

def convert_temperature(temp,unit):
    """This Function converts temperature between Celsius and Fahrenheit"""
    if unit=='C':
        return temp * 9/5 +32 # Celsius to Fahrenheit
    elif unit=='F':
        return (temp-32)*5/9 # Fahrenheit to Celsius
    else:
        return None
temp = float(input("Enter temperature in Celsius:"))
unit = input("Enter unit (C/F):").upper()
converted_temp = convert_temperature(temp, unit)
print(converted_temp)

77.0

In [7]:
# Example 2: Password Strength Checker

def is_strong_password(password):
    """This Function checks if a password is strong"""
    if len(password)<=8:
        return "To Small Password"
    if not any(char.isdigit() for char in password ):
        return "At least one digit is required"
    if not any(char.islower() for char in password):
        return "At least one lowercase letter is required"
    if not any(char.isupper() for char in password):
        return "At least one uppercase letter is required"
    if not any(char in '!@#$%^&*()_+' for char in password):
        return "At least one special character is required"
    return "Strong Password"
password = input("Enter a password to check its strength: ")

is_strong_password(password)
# print(password)

'To Small Password'

In [34]:
# Example 3: Calculate the total cost of items in a shopping cart

def calculate_total_cost(cart):
    """This Function calculates the total cost of items in a shopping cart"""
    total_cost = 0
    for item in cart:
        total_cost += item['price']* item['quantity']
    return total_cost

## Example cart data
cart =  [
            {'name':'Apple', 'price':18.9, 'quantity':4},
            {'name':'Banana', 'price':10.9, 'quantity':6},
            {'name':'Orange', 'price':9.99, 'quantity':3}
        ]



# Calling the function
total_cost = calculate_total_cost(cart)
print(f"Main Cost is ${total_cost:.2f}" )
print(f"But you Pay This Cost: ${total_cost:.1f}")

Main Cost is $170.97
But you Pay This Cost: $171.0

In [40]:
# Example 4: Check if a string is a palindrome
def is_palindrome(s):
    """This Function checks if a string is a palindrome"""
    s = s.lower().replace(" ","")
    return s == s[::-1]

s = input("Enter a string to check if it is a palindrome: ")
print (f"Original String: {s}")
if is_palindrome(s):
    print(f"a palindrome")
    print(s[::-1])
else:
    print(f"{s} is not a palindrome")

Original String: naman
a palindrome
naman

In [41]:
# Example 5: Calculate the factorial of a number using recursion

def factrorial(n):
    """This Function calculates the factorial of a number using recursion"""
    if n == 0 or n == 1:
        return 1
    else:
        return n*factrorial(n-1)
n = int(input("Enter a number to calculate its factorial:"))
print(f"The Factorial of {n} is {factrorial(n)}")

The Factorial of 5 is 120

In [43]:
# Example 6: validate Email Address

import re

# Email Validation Function

def is_valid_email(email):
    """This Function checks if an email address is valid"""
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern,email) is not None

email = input("Enter an email address: ")
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

asagdhad@gmail is not a valid email address.

## Lambda Functions #

Lambda Functions are small anonymous functions

Define using the Lambda Keyword.

They Can Have any number of arguments but only one expression.

They are commonly used for short operations or as arguments to higher-order functions.

In [44]:
# syntax
lambda arguments:  expression

In [45]:
def addition(a,b):
    return a + b
addition(2,3)

5

In [47]:
adi =  lambda a,b : a+b
type(adi)
print(adi(2,6))

8

In [57]:
def even(num):
    if num%2==0:
        return True
    else:
        return False
even(786)

True

In [60]:
even = lambda num: num%2==0
print(even(78569996))

True

In [62]:
def addition (x,y,z):
    return x+y+z
addition(10,20,30)

60

In [65]:
addition = lambda x,y,z: x+y+z
addition(200,200,-40)

360

In [67]:
# Map() -> applies a function to all items in a list

number = [1,2,3,4,5,6,7]
def square(number):
    return number**2

4

In [69]:
list(map(lambda x:x**2, number))

[1, 4, 9, 16, 25, 36, 49]

## Map Function #

Map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator).

This is Particularly useful for transforming data in a list comprehensively.

In [70]:
def square(x):
    return x*x
square(100)

10000

In [73]:
numbers = [1,2,3,4,5,6,7,8,9]
list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [76]:
# Lambda Function with a map

numbers = [1,2,3,4,5,6,7,8,9]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
# Map Multiple Iterable

numbers1 = [1,2,3]
numbers2 = [4,5,6]

list(map(lambda x,y: x+y, numbers1, numbers2))

[5, 7, 9]

In [82]:
# map to convert strings to integers

str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int, str_numbers))
print(int_numbers)
# print(str_numbers)
# type(int_numbers)

[1, 2, 3, 4, 5]

In [92]:
words = ['apple','banana','cherry']
upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [90]:
def get_name(person):
    return person['name']

person = [
    {'name': 'Aryan','age': 20 },
    {'name': 'Aman','age': 25 }
]
list (map(get_name, person))

['Aryan', 'Aman']

## Filter Function #

The Filter() function constructs an iterator from elements of an iterable for which a function returns true.

It is used to filter out items from a list (or any other iterable) based on a condition.

In [93]:
def even(num):
    if num%2==0:
        return True
even(26)

True

In [94]:
lst = [1,2,3,4,5,6]
list(filter(even, lst))

[2, 4, 6]

In [96]:
# Lambda Function with a filter
numbers = [1,2,3,4,5,6,7,8,9]
greater_then_five = list(filter(lambda x:x> 5 , numbers))
print(greater_then_five)

[6, 7, 8, 9]

In [99]:
numbers = [1,2,3,4,5,6,7,8,9]
even_grweater_then_five =  list(filter(lambda x:x>5 and x%2==0, numbers))
print(even_grweater_then_five)

[6, 8]

In [104]:
def age_greater_than_25(person):
    return person['age'] >=25

person = [
    {'name': 'Aryan','age': 20 },
    {'name': 'Aman','age': 25 },
    {'name': 'Krish','age': 18 },
    {'name': 'Rohan','age': 30 },
    {'name': 'Sita','age': 28 },
    {'name': 'Gita','age': 22 }
]

list(filter(lambda x:x['age']>25 , person))

[{'name': 'Rohan', 'age': 30}, {'name': 'Sita', 'age': 28}]